
.typeText{
    font-size: 35px;
    font-weight: bold;
    color: rgb(236, 11, 11);
}
.vv{
    padding-bottom: 150px;
}
.name{
    font-size: 50px;
}
.mainBody{
    background-image: linear-gradient(#e999a9, #a4b2f5,#e2ccd2);
    
}
